# 6016 문제

공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.

In [1]:
c1, c2 = input().split()
print(c2, c1)

s w
w s

# 6017 문제

정수(integer), 실수, 문자(character), 문자열(string) 등 1개만 입력받아 한 줄로 3번 출력해보자.

In [2]:
w = input()
print(w, w, w)

word
word word word

# 6018 문제

24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.

In [4]:
time = input()
print(time)

23:11
23:11

In [3]:
# 정답 풀이
a, b = input().split(':')
print(a, b, sep=':') # 공백 대신 ':'으로 나누게 함

23:11
23:11

# 6019 문제

"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.

In [5]:
y, m, d = input().split('.')
print(f'{d}-{m}-{y}')

2023.10.12
12-10-2023

In [6]:
# 정답 풀이
y, m, d = input().split('.')
print(d,m,y,sep='-')

2023.10.12
12-10-2023

# 6020 문제

왼쪽 6자리는 생년월일(YYMMDD)이고, 오른쪽 7자리는 성별,출생지역,확인코드로 구성되어있다.
주민번호를 입력받아 형태를 바꿔 출력해보자.

* 입력 예시: 000907-1121112
* 출력 예시: 0009071121112

In [9]:
num = input()
print(num.replace('-', ''))

000907-1121112
0009071121112

In [8]:
# 정답 풀이
a, b = input().split('-')
print(a,b,sep='') # 공백으로 나눔 -> 나누지 않음

000907-1121112
0009071121112