<a href="https://colab.research.google.com/github/sonhj110/Coding-Test/blob/main/CodeUp6021_6030.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 6021 : [기초-입출력] 단어 1개 입력받아 나누어 출력하기(설명)(py)

알파벳과 숫자로 이루어진 단어 1개가 입력된다.
입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력한다.

In [3]:
s = list(input())

for i in range(len(s)) :
  print(s[i])

Hello
H
e
l
l
o

# 6022 : [기초-입출력] 연월일 입력받아 나누어 출력하기(설명)(py)

*   입력: 6자리 숫자로 이루어진 연월일(YYMMDD)이 입력된다.
*   출력: 년도(YY) 월(MM) 일(DD)을 공백으로 구분해 한 줄로 출력한다.

In [4]:
date = input()
y = date[0:2]
m = date[2:4]
d = date[4:]

print(y, m, d)

231014
23 10 14

In [ ]:
# 정답풀이

s = input()
print(s[0:2], s[2:4], s[4:6], sep=' ')

# 6023 : [기초-입출력] 시분초 입력받아 분만 출력하기(py)

* 입력: 시 분 초가 시:분:초 형식으로 입력된다.
* 출력: 분만 출력한다.

In [5]:
time = input().split(':')
print(time[1])

23:10:14
10

# 6024 : [기초-입출력] 단어 2개 입력받아 이어 붙이기(설명)(py)

* 입력: 알파벳과 숫자로 이루어진 2개의 단어가 공백으로 구분되어 입력된다.
* 출력: 입력된 2개의 단어를 순서대로 붙여 출력한다.

In [6]:
s = input().split()
print(*s, sep='')

Hello World
HelloWorld

In [7]:
# 정답풀이
a, b = input().split()
print(a+b)

Hello World
HelloWorld

# 6025 : [기초-값변환] 정수 2개 입력받아 합 계산하기(설명)(py)

* 입력 : 2개의 정수가 공백으로 구분되어 입력된다.
* 출력 : 두 정수의 합을 출력한다.

In [8]:
a, b = input().split()
print(int(a) + int(b))

1 3
4

# 6026 : [기초-값변환] 실수 2개 입력받아 합 계산하기(설명)(py)

실수 2개를 입력받아
합을 출력하는 프로그램을 작성해보자.

In [10]:
a = float(input())
b = float(input())
print(a+b)

0.1
0.4
0.5

# 6027 : [기초-출력변환] 10진 정수 입력받아 16진수로 출력하기1(설명)(py)

* 10진수 1개가 입력된다.
* 16진수(소문자) 형태로 출력한다.

In [11]:
a = input()
n = int(a)            #입력된 a를 10진수 값으로 변환해 변수 n에 저장
print('%x'% n)  #n에 저장되어있는 값을 16진수(hexadecimal) 소문자 형태 문자열로 출력

# %o로 출력하면 8진수(octal) 문자열로 출력된다.

43
2b

# 6028 : [기초-출력변환] 10진 정수 입력받아 16진수로 출력하기2(설명)(py)

* 10진수 1개가 입력된다.
* 16진수(대문자) 형태로 출력한다.

In [12]:
n = int(input())
print('%X'% n)

43
2B

# 6029 : [기초-값변환] 16진 정수 입력받아 8진수로 출력하기(설명)(py)

In [13]:
a = input()
n = int(a, 16)      #입력된 a를 16진수로 인식해 변수 n에 저장
print('%o' % n)

43
103

# 6030 : [기초-값변환] 영문자 1개 입력받아 10진수로 변환하기(설명)(py)

참고<br/>
n = ord(input())  #입력받은 문자를 10진수 유니코드 값으로 변환한 후, n에 저장한다.

ord( ) 는 어떤 문자의 순서 위치(ordinal position) 값을 의미한다.  
실제로 각각의 문자들에는 연속된 정수 값이 순서에 따라 부여 되어 있다. <br/>
A:65, B:66, C:67 .... <br/>
ord(c) : 문자 c 를 10진수로 변환한 값

In [14]:
n = ord(input())
print(n)

b
98