<a href="https://colab.research.google.com/github/sonhj110/Coding-Test/blob/main/%EC%8A%A4%ED%83%9D%EA%B3%BC_%ED%81%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 스택

* 스택: 삽입과 삭제가 후입선출로 이뤄지는 자료구조

리스트로 스택 구현하기

In [ ]:
a = [1, 2, 3]

top: 삽입과 삭제가 일어나는 위치

In [ ]:
# top에 새로운 데이터를 추가(후입)
a.append(4)  # 인것같은데 노트북에서 확인 필요
a

[1, 2, 3, 4]

In [ ]:
# top에 있는 데이터를 삭제(선출)
a.pop()
a

[1, 2, 3]

# 큐

* 큐: 삽입과 삭제 연산인 선입선출로 이루어진 자료구조
* 삽입과 삭제가 양방향에서 이뤄짐

파이썬에서 큐는 deque로 구현할 수 있다

In [ ]:
from collections import deque

In [ ]:
# deque로 큐 선언
q = deque([1, 2, 3])
q
# 1이 front, 3이 reat

deque([1, 2, 3])

In [ ]:
# q의 rear 부분에 새로운 데이터를 삽입
q.append(4)
q

deque([1, 2, 3, 4])

In [ ]:
# q의 front 부분을 삭제(선입선출->큐)
q.popleft()
q

deque([2, 3, 4])

In [ ]:
# q의 front 부분에 새로운 데이터를 삽입
q.appendleft(4)
q

deque([4, 2, 3, 4])

In [ ]:
# q의 rear 부분에 array를 순환하며 그 안의 데이터를 삽입
q.extend([5,6])
q

deque([4, 2, 3, 4, 5, 6])

In [ ]:
# q의 front 부분에 array를 순환하며 그 안의 데이터를 삽입
q.extendleft([1,2])
q
# 삽입된 순서 주목

deque([2, 1, 4, 2, 3, 4, 5, 6])

In [ ]:
# q의 3번 인덱스에 100을 추가한다
q.insert(3, 100)
q

deque([2, 1, 4, 100, 2, 3, 4, 5, 6])

In [ ]:
# 입력한 원소를 삭제한다. 같은 원소가 있을 경우 왼쪽부터 삭제한다
q.remove(4)
q

deque([2, 1, 100, 2, 3, 4, 5, 6])

In [ ]:
# n만큼 원소의 위치를 회전한다. (양수 : 시계방향, 음수 : 반시계 방향)
q.rotate(2)
q

deque([5, 6, 2, 1, 100, 2, 3, 4])

In [ ]:
q.rotate(-2)
q

deque([2, 1, 100, 2, 3, 4, 5, 6])

In [ ]:
# 원소의 위치를 좌우반전시킨다
q.reverse()
q

deque([6, 5, 4, 3, 2, 100, 1, 2])

In [ ]:
# 모든 원소를 삭제한다
q.clear()
q

deque([])

# 문제11 스택으로 수열 만들기-백준 1874번

In [45]:
n = int(input())
a = [] # 만들어야하는 수열

for i in range(n) :
  a.append(int(input()))

8
4
3
6
8
7
5
2
1

In [46]:
a

[4, 3, 6, 8, 7, 5, 2, 1]

In [47]:
result = [] # +/- array
temp = [] # 오름차순 자연수
nat = 1 # 자연수

for i in range(n) :

  # print(a[i])

  if a[i] >= nat :
    while a[i] >= nat :
      # print(nat)
      temp.append(nat)
      nat += 1
      result.append('+')
      # print(result)
    temp.pop()
    result.append('-1')

  elif a[i] < nat :
    if temp.pop() > a[i] :
      result.append('NO')
    else :
      result.append('-2')
      print('-2')
      print(nat)


print(result)

# if 'NO' in result :
#   print('NO')
# else :
#   print(*result, sep='\n')

-2
5
-2
9
-2
9
-2
9
-2
9
['+', '+', '+', '+', '-1', '-2', '+', '+', '-1', '+', '+', '-1', '-2', '-2', '-2', '-2']

# 문제12 오큰수 구하기-백준 17298번(아직 못품)

In [ ]:
n = int(input())
a = list(map(int, input().split()))
ans = [0 for i in range(n)]
mystack = [0]

4
3 5 2 7

In [ ]:
for index in range(n) :

  while 조건 :

    if mystack == [] :
      break

    else :
      mystack.append(index)
      top = mystack[-1]
      if a[index-1] < a[top] :
        ans[index-1].append(a[top])



  print(ans)

0 0

KeyboardInterrupt: ignored

# 백준-12605번

In [79]:
n = int(input())
mylist = []

for i in range(n) :
  mylist.append(input().split())

casenum = 0

for mycase in mylist :
  temp = []
  casenum += 1

  while True :
    temp.append(mycase.pop())

    if mycase == [] :
      break

  print('Case #{}: '.format(casenum), *temp)

Case 1 : test a is this
Case 2 : foobar
Case 3 : base your all